<%="#{comment.author.username} - #{comment.content}" %>
<%= link_to "Show Comment", comment_url(comment) %>
  <% if !comments_by_parent[comment].empty? %>
    <ul>
      <% comments_by_parent[comment].each do |child| %>
      <li><%= render("comments/comment",
            comment: child,
            comments_by_parent: comments_by_parent) %></li>
      <% end %>
    </ul>
  <% end %>
